# WordPress .gitignore

# Dependencies
/node_modules
/vendor

# WordPress
/.wp-env
/.wp-env.*
/wp-content/uploads
/wp-content/blogs.dir
/.wordpress-org

# PHP
*.phar
*.zip
*.tar.gz

# Environment
.env
.env.*

# IDE
/.idea
/.vscode
*.sublime-workspace
*.sublime-project

# Logs
*.log

# Local config
wp-config-local.php
wp-cli.local.yml